body {
  background-color: #113f70;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  color: #f8dc5d;
  border-style: none;
  border-top-style: solid;
  /* border-width: thick; */
  width: 90%;
}


h1 {
  color: #f8dc5d;
  /* text-decoration: underline;
  text-decoration-color: #1363DF; */
}

h2 {
  color: #DFF6FF;
  vertical-align: text-bottom;
}

p {
  color: #DFF6FF;
}

a:visited {
  color: #a57942;
}

a:hover {
  color: #f8dc5d;
}




.text {
  color:  #DFF6FF; 
}

.headline {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.headline-left {
  align-items: flex-start;
  margin-right: 50px;
}

.portrait {
  width: 350px;
  height: 350px;
  border-radius: 75px 75px 75px 75px;
}

.headline-right {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.about-education {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

.about-links, .education-links, .work-experience, .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.programming-portfolio {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  align-items: flex-start;
  text-align: center;
  max-width: 100%;
  color: #DFF6FF;
}

.web-projects {
  padding: 20px;
}

.web-projects a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-projects {
  padding: 20px;
}

.mobile-projects a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-and-hobbies {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-email, .contact-phone {
  display: flex;
  gap: 25px;
  align-items: center;
}

.hobbies-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hobby {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  align-items: flex-start;
}