body {
  background-color: #113f70;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  color: #f8dc5d;
  border-style: none;
  border-top-style: solid;
  /* border-width: thick; */
  width: 90%;
}


h1 {
  color: #f8dc5d;
  /* text-decoration: underline;
  text-decoration-color: #1363DF; */
}

h2 {
  color: #DFF6FF;
  vertical-align: text-bottom;
}

p {
  color: #DFF6FF;
}

a:visited {
  color: #a57942;
}

a:hover {
  color: #f8dc5d;
}




.text {
  color:  #DFF6FF; 
}

.headline {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.headline-left {
  align-items: flex-start;
  margin-right: 50px;
}

.portrait {
  width: 350px;
  height: 350px;
  border-radius: 75px 75px 75px 75px;
}

.headline-right {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.about-education {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

.about-links, .education-links, .work-experience, .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.showcase {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  align-items: start;
}

.showcase .web-project {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}